<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright (C) 2026 Nicholas Doglio -->
<!-- SPDX-License-Identifier: MIT -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application>
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data
                android:name="dev.whosnickdoglio.scores.startup.StrictModeInitializer"
                android:value="androidx.startup" />
        </provider>
    </application>
</manifest>
